{{define "base"}}
<!DOCTYPE html>
<html>
<head>
<title>{{template "title" .}} - VolunTrack</title>
<meta charset="utf-8">
</head>
<body>
<div>
    <h1>VolunTrack</h1>
</div>

{{template "content" .}}
{{template "footer" .}}
</body>
</html>

{{end}}
















