{{define "base"}}
<!DOCTYPE html>
<html>
<head>
<title>{{template "title" .}} - VolunTrack</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="flex flex-col h-full w-full">
{{block "header" .}}
{{end}}

{{template "content" .}}
{{template "footer" .}}
</body>
</html>

{{end}}






































































