{{define "header"}}
<header class="px-32 py-6 flex flex-row justify-between items-center">
<a class="text-xl font-black" href="/"><span>Volun</span><span class="text-primary">track</span></a>
<div class="flex gap-6">
<a href="#">Home</a>
<a href="#">About</a>
<a href="#">Categories</a>
<a href="#">Campaign</a>
<a href="#">News</a>
<a href="#">Volunteer</a>

<button>Donate</button>
</div>
</header>
{{end}}










