{{template "base" .}} {{define "title"}}Home{{ end }}
{{define "content"}}
<!-- hero section -->
{{template "header" .}}
<div
  class="flex flex-row items-center justify-between flex-1 h-screen snap-start bg-amber-50 px-32"
>
  <div class="flex flex-col gap-8 w-[30%]">
    <p class="text-6xl font-bold capitalize w-[400px]">
      Do something great to help others
    </p>
    <p class="font-bold text-gray-700">
      Voluntrack is a digital platform for collecting donations to be
      distributed to people in need
    </p>
    <div class="flex flex-row gap-8">
      <button
        class="px-8 py-3 bg-green-800 text-white font-bold rounded-2xl capitalize"
      >
        Donate now
      </button>
      <button
        class="px-8 py-3 border-2 border-green-800 text-green-800 font-bold rounded-2xl capitalize"
      >
        Watch Video
      </button>
    </div>

    <div class="flex flex-row gap-8">
      {{ range.Stats }}
      <div class="flex flex-col">
        <p class="text-4xl font-bold">{{.Value}}</p>
        <p class="capitalize font-bold text-gray-700 break-words w-[100px]">
          {{.Description}}
        </p>
        <p></p>
      </div>

      {{ end }}
    </div>
  </div>
  <div class="flex">
    <image
      src="/static/images/hero-image.png"
      alt="hero-image"
      class="h-[400px]"
    />
  </div>
</div>
<div
  class="flex flex-row items-center justify-between flex-1 h-screen snap-start px-32"
>
  <div class="flex">
    <image
      src="/static/images/about-us.png"
      alt="hero-image"
    />
  </div>
  <div class="flex flex-col gap-8 w-[500px]">
    <p class="uppercase font-black text-lg text-amber-500">About us</p>
    <p class="text-6xl font-bold capitalize">
      Helping people in need around the world
    </p>
    <p class="text-gray-600 font-bold text-lg">
      We help provide neccessities to people in need around the world
    </p>
    <div class="flex flex-col gap-4">
      <div class="flex flex-row gap-4">
        <div
          class="flex justify-center items-center p-4 w-10 h-10 bg-red-200 rounded-full"
        >
          <p class="text-red-500 font-bold">D</p>
        </div>
        <div class="flex flex-col gap-4">
          <p class="font-bold text-xl">Donate</p>
          <p class="font-semibold text-gray-500">
            Providing assistance in the form of money and clothing to help
            others
          </p>
        </div>
      </div>

      <div class="flex flex-row gap-4">
        <div
          class="flex justify-center items-center p-4 w-10 h-10 bg-yellow-200 rounded-full"
        >
          <p class="text-yellow-500 font-bold">V</p>
        </div>
        <div class="flex flex-col gap-4">
          <p class="font-bold text-xl">Volunteer</p>
          <p class="font-semibold text-gray-500">
            Providing assistance in the form of time, skills and knowledge to
            help others
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}






















